In [275]:
import pandas as pd

In [276]:
df=pd.read_csv('train.csv')
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [277]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [278]:
cat_vars=df.select_dtypes(include=["O"]).columns
cat_vars

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft'],
      dtype='object')

In [279]:
df['area_type'].value_counts()

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [280]:
df['availability'].value_counts()

Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64

In [281]:
df['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [282]:
df['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [283]:
df['society'].value_counts()

GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64

In [284]:
df['total_sqft'].value_counts()

1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64

In [285]:
df1=df.drop(df.columns[[1,2,3,4,5]], axis=1)

In [286]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   area_type  13320 non-null  object
 1   bath       13247 non-null  float64
 2   balcony    12711 non-null  float64
 3   price      13320 non-null  float64
dtypes: float64(3), object(1)
memory usage: 416.4+ KB

In [287]:
df1.isnull().sum()

area_type      0
bath          73
balcony      609
price          0
dtype: int64

In [288]:
df1=df1.dropna()

In [289]:
df1.isnull().sum()

area_type    0
bath         0
balcony      0
price        0
dtype: int64

In [290]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12711 entries, 0 to 13319
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   area_type  12711 non-null  object
 1   bath       12711 non-null  float64
 2   balcony    12711 non-null  float64
 3   price      12711 non-null  float64
dtypes: float64(3), object(1)
memory usage: 496.5+ KB

In [291]:
cat_vars=df1.select_dtypes(include=["O"]).columns
cat_vars

Index(['area_type'], dtype='object')

In [292]:
dummy_data = pd.get_dummies(df1)
dummy_data.head()

,bath,balcony,price,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
0,2.0,1.0,39.07,0,0,0,1
1,5.0,3.0,120.00,0,0,1,0
2,2.0,3.0,62.00,1,0,0,0
3,3.0,1.0,95.00,0,0,0,1
4,2.0,1.0,51.00,0,0,0,1

In [293]:
X=dummy_data.drop('price', axis=1)
y=dummy_data['price']

In [294]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=51)

In [295]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
sc.fit(X_train)
X_train=sc.transform(X_train)
X_test=sc.transform(X_test)

In [296]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [297]:
lr.coef_

array([5.28835733e+01, 8.43784633e+00, 2.70827385e+12, 6.01941207e+11,
       2.46195329e+12, 3.31095901e+12])

In [298]:
lr.intercept_

106.14638078225856

In [299]:
lr.predict([X_test[0, :]])

array([107.38490617])

In [300]:
lr.score(X_test, y_test)

0.2328312636168023

In [301]:
from sklearn.linear_model import Ridge, Lasso

In [302]:
rd= Ridge()
rd.fit(X_train, y_train)
rd.score(X_test, y_test)

0.2328332071321706

In [303]:
ls= Lasso()
ls.fit(X_train, y_train)
ls.score(X_test, y_test)

0.2335676406963504

In [304]:
rd1= Ridge(alpha=2)
rd1.fit(X_train, y_train)
rd1.score(X_test, y_test)

0.23283297074817433

In [305]:
ls1= Lasso(alpha=3)
ls1.fit(X_train, y_train)
ls1.score(X_test, y_test)

0.23353488709634918